.header{
    background:$off-black;
    color: white;
    margin-bottom:$padding-size;
    padding:$padding-size;
}

.header__title{
    font-size: $l-size;
    margin: 0;
}

.header__subtitle{
    color: $off-white;
    font-size: $padding-size;
    font-weight: 500;
    margin: 0;
}

@media(min-width:$dekstop-breakpoint){
    *{
        .add-header{
            margin-bottom:$xl-szie;     
        }       
    }
}