//Widget header
.widget{
    background:$light-blue;
    margin-bottom: $xl-szie;
}
.widget-header{
    background-color: $blue;
    color: $off-white;
    padding: $padding-size;
    display: flex;
    justify-content:space-between;
}

.widget-header__title{
    margin: 0;
}

.widget-header__message{
    text-align: center;
    color: $off-white;
    margin: 0;
    padding: $l-size;
    border-bottom: 1px solid lighten($color: $light-blue, $amount: 10%);
}

